* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headers {

    .header-blue {
        padding-top: 0.5625rem;
        padding-bottom: 0.5625rem;
        background-color: rgb(35, 58, 149);
        color: white;
        text-align: center;
        font-size: .75rem;
    }

    .header-row1 {
        border: ridge 1px;
        border-color: rgb(227, 228, 230);
        font-size: .75rem;

        a:hover {
            color: rgb(43, 190, 249);
        }

        .header-yuzfaiz {
            display: block !important;
        }

        #header-number {
            color: rgba($color: #2bbef9, $alpha: 1.0);
        }

        .header-lan-and-pul {
            .header-lan {
                position: relative;
                display: inline-block;
                margin-left: 7px;

                .lan {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    border: ridge 1px;
                    text-align: center;
                    padding-left: 1.875rem;
                    padding-right: 1.875rem;

                    a {
                        color: black;
                        text-decoration: none;
                    }

                }

                span {
                    a {
                        color: black;
                    }

                }

                span:hover {

                    a,
                    i {
                        color: rgb(43, 190, 249);
                    }

                }
            }

            .header-lan:hover .lan {
                display: block;
                list-style: none;

                a:hover {
                    color: rgb(43, 190, 249);
                }

                background-color: white;
            }


        }
    }

    .header-row2 {
        .third-nav {
            padding: 24px 0;
            padding-left: 9%;
            display: inline;
    
            img {
              width: 160px;
            }
    
            .logoTitle {
              font-size: 11px;
              display: flex;
              opacity: 0.5;
            }
    
            .location {
              border: 1px solid rgb(205, 205, 205);
              border-radius: 10px;
              padding: 8px 15px;
              flex-direction: column;
              cursor: pointer;
              margin-top: 8px;
    
              .title {
                font-size: 11px;
                opacity: 0.8;
                font-family: Arial, Helvetica, sans-serif;
              }
    
              .content {
                color: #233a95ff;
                font-weight: 700;
                font-family: Arial, Helvetica, sans-serif;
              }
            }
    
            .searchProduct {
              margin-top: 10px;
              position: relative;
    
              i {
                position: absolute;
                top: 15px;
                right: 25px;
                font-size: 30px;
              }
    
              input {
                width: 100%;
                padding: 15px 20px;
                background: rgb(244, 244, 244);
                border: none;
                border-radius: 10px;
    
                &:focus {
                  outline: none;
                }
              }
            }
    
            .right-third-nav {
              padding: 15px 15px;
    
              .userIcon {
                i {
                  border: 1px solid grey;
                  border-radius: 50%;
                  padding: 10px 12px;
                  font-size: 20px;
                }
              }
    
              .basket {
                margin-top: -15px;
                cursor: pointer;
    
                .price {
                  margin-top: -15px;
                }
    
                .basketIcon {
                  font-size: 30px;
                  color: red;
                  background: #fff1eeff;
                  border-radius: 50%;
                  padding: 10px;
                  position: relative;
    
                  .count {
                    position: absolute;
                    font-size: 15px;
                    border-radius: 50%;
                    padding: 2px 5px;
                    background: red;
                    color: white;
                    right: -5px;
                    top: -2px;
                  }
                }
              }
            }
          }

    }

    .header-row3 {

        .categories {
            position: relative;

            i:first-child {
                position: absolute;
                top: 15px;
                left: 15px;
                color: white;
                cursor: pointer;
            }

            i:last-child {
                position: absolute;
                top: 15px;
                left: 175px;
                color: white;
                cursor: pointer;
            }
        }

        button {
            border-radius: 20px;
            padding: 10px 35px 10px 25px;
            color: white;
            font-weight: 600;
        }

        nav {
            font-size: 14px;
            font-weight: 600;


            ul {
                text-decoration: none;
                list-style: none;

                .home {
                    height: 50px;
                    position: relative;

                    &:hover {
                        .HomeSubMenu {
                            margin-top: 24.5px;
                            visibility: visible;
                            background-color: white;
                            z-index: 2;
                        }
                    }

                    .HomeSubMenu {
                        position: absolute;
                        visibility: hidden;
                        width: 200px;
                        left: -24px;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        transition: all 0.1s ease-in-out;
                        background: white;
                        z-index: 2;


                        &:hover {
                            visibility: visible;
                            background-color: white;
                        }

                        li {
                            margin: 15px 0;
                            display: flex;
                            flex-direction: column;

                            a {
                                padding: 5px 55px 0px 5px;
                                width: 100%;

                                &:hover {
                                    padding: 5px 55px 0px 5px;
                                    background-color: white;
                                    color: #2BC7FBFF;
                                }
                            }
                        }
                    }
                }

                .shop {
                    height: 50px;

                    .ShopSubMenu {
                        visibility: hidden;
                        position: absolute;
                        display: flex;
                        justify-content: space-around;
                        height: 350px;
                        left: 0;
                        width: 98.93vw;
                        background: white;
                        margin-top: 24.5px;
                        z-index: 2;

                        >li {
                            position: relative;
                            margin-top: 20px;

                            .subListMenu {
                                position: absolute;
                                left: -15px;
                                padding: 15px;
                                width: 210px;

                                li {
                                    padding: 15px;
                                    margin-top: 15px;

                                    a {
                                        top: 15px;
                                        background-color: white;
                                        margin-top: 15px;
                                    }
                                }
                            }

                            >a {
                                color: blue;
                                border: none;
                                background: white;
                            }
                        }
                    }

                    &:hover {
                        transition: all 0.3s ease-in-out;

                        .ShopSubMenu {
                            display: flex;
                            justify-content: space-around;
                            visibility: visible;
                            height: 350px;
                            background: white;
                            width: 98.93vw;
                            margin-top: 24.5px;
                            transition-delay: 0.1s;
                            z-index: 2;

                            >li {
                                position: relative;
                                margin-top: 20px;

                                .subListMenu {
                                    position: absolute;
                                    left: -15px;
                                    padding: 15px;
                                    width: 210px;

                                    li {
                                        padding: 15px;
                                        margin-top: 15px;

                                        a {
                                            top: 15px;
                                            background-color: white;
                                            margin-top: 15px;
                                        }
                                    }
                                }

                                >a {
                                    color: blue;
                                    border: none;
                                    background: white;
                                }
                            }
                        }
                    }
                }

                li {
                    padding: 0px !important;

                    >a {
                        text-decoration: none;
                        color: black;
                        padding: 10px 15px;

                        &:hover {
                            padding: 10px 15px;
                            border-radius: 30px;
                            background-color: rgb(203, 234, 255);
                            color: #2BC7FBFF;
                        }
                    }


                }

            }
        }
    }
}

main {
  .mainCarouselSection {
    margin-top: -26.5px;
    width: 100%;
    position: relative;

    #prev {
      position: absolute;
      left: 3% !important;
      top: 50%;
      background: black;
      padding: 20px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: white !important;
      color: black;
      opacity: 1 !important;

      #l {
        font-size: 20px;
        color: black !important;
      }
    }

    #next {
      position: absolute;
      right: 3% !important;
      top: 50%;
      background: black;
      padding: 20px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: white !important;
      color: black;
      opacity: 1;

      #r {
        font-size: 20px;
        color: black !important;
      }
    }

    .item {
      position: relative;
      cursor: pointer;
      width: 100%;

      .content {
        cursor: pointer;
        position: absolute;
        left: 10%;
        z-index: 1;
        top: 10%;
        width: 30%;
      }
    }
  }

    .main-deadlineSection {
      #deadline {
        .categories {
          .leftSide {
            width: 30%;
            height: 740px;
            border: 2px solid red;
            border-radius: 10px;

            .content {
              h5 {
                color: #2372C1FF;
              }

              .name {
                font-size: 20px;
                margin: 5px 0;
              }

              p {
                img {
                  width: 100px;
                }
              }

              div {
                width: 20px;

                :first-child {
                  font-size: 16px;
                }

                span {
                  margin-top: 12px;
                  size: 20px;
                  font-weight: 600;
                }

              }


              .time {
                width: 100px;
                margin: 0 10px;
                padding: 15px;
                font-weight: 600;
                color: white;
                background: #ED174AFF;
                border-radius: 10px;
              }
            }
          }

          .rightSide {
            flex-wrap: wrap;
            margin-left: 30px;
            border: 1px solid rgb(211, 211, 211);
            border-radius: 10px;

            .product {
              border: 0.5px solid rgb(214, 214, 214);

              .content {
                padding: 15px 25px;
                cursor: pointer;
                position: relative;
                transition-duration: 0.5s;

                &:hover {
                  position: absolute;
                  padding: 15px 25px;
                  width: 18.8%;
                  z-index: 5;
                  background: white;
                  border: 1px solid grey;
                  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                  .discount {
                    top: 4.2%;
                    padding: 5px 15px;
                  }

                  .offer {
                    top: 13%;
                    padding: 5px 15px;
                  }

                  .type {
                    top: 13%;
                    padding: 5px 15px;
                  }

                  .minimize {
                    right: 8.5%;
                    visibility: visible;
                    transition-duration: 0.4s;

                  }

                  .heart {
                    right: 8%;
                    visibility: visible;
                    transition-duration: 0.7s;

                  }

                  button {
                    display: block;
                  }

                  .prodCount {
                    display: none;
                    position: relative;
                    text-align: center;

                    :last-child {
                      right: 10%;
                      position: absolute;
                      font-size: 20px;
                      border-radius: 50%;
                      border: 1px solid;
                      padding: 0px 6px;
                      background: #FFCD00FF;
                      border: none;
                    }

                    :first-child {
                      position: absolute;
                      left: 10%;
                      font-size: 20px;
                      border-radius: 50%;
                      border: 1px solid;
                      padding: 0px 6px;
                      background: #C8C8D7FF;
                      border: none;
                    }

                  }
                }

                i {
                  position: absolute;
                  visibility: hidden;
                  top: 12%;
                  background: white;
                  border-radius: 50%;
                  padding: 10px;
                  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
                }

                .discount {
                  position: absolute;
                  top: 5%;
                  font-size: 11px;
                  font-weight: 500;
                  padding: 5px 15px;
                  color: white;
                  border-radius: 5px;
                  background-color: #2BBEF9FF;
                }

                .offer {
                  position: absolute;
                  top: 15%;
                  font-size: 10px;
                  font-weight: 500;
                  padding: 5px 15px;
                  border-radius: 5px;
                  color: white;
                  background-color: #71778EFF;
                }

                .type {
                  position: absolute;
                  top: 15%;
                  font-size: 10px;
                  font-weight: 500;
                  padding: 5px 15px;
                  border-radius: 15px;
                  color: #198E4DFF;
                  background-color: #E5F8EDFF;
                }



                .minimize {
                  top: 5%;
                  right: 5%;

                  &:hover {
                    background-color: #233A95FF;
                    color: white;
                  }
                }


                .heart {
                  top: 15%;
                  right: 2%;

                  &:hover {
                    background-color: #233A95FF;
                    color: white;
                  }
                }

                p {
                  width: 90%;
                  margin: 0 !important;

                  img {
                    width: 40%;
                  }
                }

                strong {
                  font-size: 10px;
                  font-weight: 700;
                  color: #2FC573FF;
                }

                img {
                  width: 100%;
                }

                button {
                  background: #233A95FF;
                }

                button,
                .prodCount {
                  display: none;
                  padding: 5px 60px;
                  margin: 20px 10px 3px;
                  border-radius: 10px;
                }

                .prodCount {
                  display: none;
                  position: relative;
                  text-align: center;
                  top: 10px;
                  padding-bottom: 28px;

                  :last-child {
                    right: 10%;
                    position: absolute;
                    font-size: 20px;
                    border-radius: 50%;
                    border: 1px solid;
                    padding: 0px 6px;
                    background: #FFCD00FF;
                    border: none;
                  }

                  :first-child {
                    position: absolute;
                    left: 10%;
                    font-size: 20px;
                    border-radius: 50%;
                    border: 1px solid;
                    padding: 0px 6px;
                    background: #C8C8D7FF;
                    border: none;
                  }

                }


              }
            }
          }
        }
      }

    }

    .main-weekend-DiscountSection {
      .side {
        position: relative;

        img {
          width: 97%;
          border-radius: 10px;
        }

        .content {
          position: absolute;
          top: 15%;
          left: 5%;

          h6 {
            color: red;
            font-weight: 400;
          }
        }
      }
    }

    .carouselProductSection {

      >div {
        margin-left: 9.5%;
      }

      .product {
        border: 0.5px solid rgb(214, 214, 214);
        // min-height: 428px;

        .content {
          padding: 10px 20px;
          cursor: pointer;
          position: relative;
          transition-duration: 0.5s;
          height: 426px;

          &:hover {
            position: absolute;
            padding: 15px 25px;
            z-index: 5;
            max-height: 426px;
            background: white;
            border: 1px solid grey;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            .discount {
              top: 4.2%;
              padding: 5px 15px;
            }

            .offer {
              top: 13%;
              padding: 5px 15px;
            }

            .type {
              top: 13%;
              padding: 5px 15px;
            }

            .minimize {
              right: 8.5%;
              visibility: visible;
              transition-duration: 0.4s;

            }

            .heart {
              right: 8%;
              visibility: visible;
              transition-duration: 0.7s;

            }

            button {
              display: block;
            }

            .prodCount {
              display: none;
              position: relative;
              text-align: center;
              top: 15px;

              :last-child {
                right: 10%;
                position: absolute;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #FFCD00FF;
                border: none;
              }

              :first-child {
                position: absolute;
                left: 10%;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #C8C8D7FF;
                border: none;
              }

            }
          }

          i {
            position: absolute;
            visibility: hidden;
            top: 12%;
            background: white;
            border-radius: 50%;
            padding: 10px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
          }

          .discount {
            position: absolute;
            top: 5%;
            font-size: 11px;
            font-weight: 500;
            padding: 5px 15px;
            color: white;
            border-radius: 5px;
            background-color: #2BBEF9FF;
          }

          .offer {
            position: absolute;
            top: 15%;
            font-size: 10px;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 5px;
            color: white;
            background-color: #71778EFF;
          }

          .type {
            position: absolute;
            top: 15%;
            font-size: 10px;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 15px;
            color: #198E4DFF;
            background-color: #E5F8EDFF;
          }

          .minimize {
            top: 5%;
            right: 5%;

            &:hover {
              background-color: #233A95FF;
              color: white;
            }
          }


          .heart {
            top: 15%;
            right: 2%;

            &:hover {
              background-color: #233A95FF;
              color: white;
            }
          }

          p {
            width: 90%;
            margin: 0 !important;

            img {
              width: 50% !important;
            }
          }

          strong {
            font-size: 10px;
            font-weight: 700;
            color: #2FC573FF;
          }

          img {
            width: 30%;
          }

          button {
            background: #233A95FF;
          }

          button,
          .prodCount {
            display: none;
            padding: 5px 50px;
            margin: 20px 10px 3px;
            border-radius: 10px;
          }

          .prodCount {
            display: none;
            position: relative;
            text-align: center;

            :last-child {
              right: 10%;
              position: absolute;
              font-size: 20px;
              border-radius: 50%;
              border: 1px solid;
              padding: 0px 6px;
              background: #FFCD00FF;
              border: none;
            }

            :first-child {
              position: absolute;
              left: 10%;
              font-size: 20px;
              border-radius: 50%;
              border: 1px solid;
              padding: 0px 6px;
              background: #C8C8D7FF;
              border: none;
            }

          }
        }
      }

    }

    .extraPercent {
      background-color: #FBEACFFF;

      :first-child {
        :first-child {
          justify-content: space-around;

          h2 {
            padding: 15px 0;
          }
        }
      }


    }

    .extraProductSection {
      >div {
        margin: 0 11%;
        width: 80%;

        .product {
          width: 20%;

          .content {
            padding: 15px 25px;
            cursor: pointer;
            position: relative;
            transition-duration: 0.5s;
            border: 1px solid;
            margin: 0 -12px;

            &:hover {
              position: absolute;
              padding: 15px 25px;
              width: 15.7%;
              z-index: 5;
              max-height: 426px;
              background: white;
              border: 1px solid grey;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

              .discount {
                top: 4.2%;
                padding: 5px 15px;
              }

              .offer {
                top: 13%;
                padding: 5px 15px;
              }

              .type {
                top: 13%;
                padding: 5px 15px;
              }

              .minimize {
                right: 8.5%;
                visibility: visible;
                transition-duration: 0.4s;

              }

              .heart {
                right: 8%;
                visibility: visible;
                transition-duration: 0.7s;

              }

              button {
                display: block;
              }

              .prodCount {
                display: none;
                position: relative;
                text-align: center;
                padding-bottom: 12px;
                left: 15px;

                :last-child {
                  right: 10%;
                  position: absolute;
                  font-size: 20px;
                  border-radius: 50%;
                  border: 1px solid;
                  padding: 0px 6px;
                  background: #FFCD00FF;
                  border: none;
                }

                :first-child {
                  position: absolute;
                  left: 10%;
                  font-size: 20px;
                  border-radius: 50%;
                  border: 1px solid;
                  padding: 0px 6px;
                  background: #C8C8D7FF;
                  border: none;
                }

              }
            }

            i {
              position: absolute;
              visibility: hidden;
              top: 12%;
              background: white;
              border-radius: 50%;
              padding: 10px;
              box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
            }

            .discount {
              position: absolute;
              top: 5%;
              font-size: 11px;
              font-weight: 500;
              padding: 5px 15px;
              color: white;
              border-radius: 5px;
              background-color: #2BBEF9FF;
            }

            .offer {
              position: absolute;
              top: 15%;
              font-size: 10px;
              font-weight: 500;
              padding: 5px 15px;
              border-radius: 5px;
              color: white;
              background-color: #71778EFF;
            }

            .type {
              position: absolute;
              top: 15%;
              font-size: 10px;
              font-weight: 500;
              padding: 5px 15px;
              border-radius: 15px;
              color: #198E4DFF;
              background-color: #E5F8EDFF;
            }

            .minimize {
              top: 5%;
              right: 5%;

              &:hover {
                background-color: #233A95FF;
                color: white;
              }
            }


            .heart {
              top: 15%;
              right: 2%;

              &:hover {
                background-color: #233A95FF;
                color: white;
              }
            }

            p {
              width: 90%;
              margin: 0 !important;

              img {
                width: 70%;
              }
            }

            strong {
              font-size: 10px;
              font-weight: 700;
              color: #2FC573FF;
            }

            img {
              width: 100%;
            }

            button {
              background: #233A95FF;
            }

            button,
            .prodCount {
              display: none;
              padding: 5px 25px;
              margin: 5px 10px 0px;
              border-radius: 10px;
            }

            .prodCount {
              display: none;
              position: relative;
              text-align: center;
              top: 10px;
              right: 10px;
              bottom: 30px;

              :last-child {
                right: 10%;
                position: absolute;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #FFCD00FF;
                border: none;
              }

              :first-child {
                position: absolute;
                left: 10%;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #C8C8D7FF;
                border: none;
              }

            }
          }
        }
      }
    }

    .lastSectionBody {
      .lastSection {
        margin-left: 10.5%;


        .product {
          position: relative;
          margin-top: 40px;
          border: none;

          .description {
            p {
              margin-top: 10px;
              opacity: 0.4;
              font-weight: bold;
              font-size: 14px;
            }

            h5 {
              font-weight: bold;
              font-size: 21px;
            }
          }

          img {
            width: 97%;
            border-radius: 10px;
          }

          .cont {
            position: absolute;
            top: 0;
            left: 0;
            padding: 35px 45px;

            h6 {
              color: green;
            }

            button {
              color: white;
              background-color: #C2C2D3FF;
              border: none;
              outline: none;
              border-radius: 30px;
            }
          }
        }
      }
    }
}

footer {
    .couponSection {
        .email {
            background-color: #233A95FF;
            width: 100%;
            margin: 40px 0 0 0;

            .coupon {
                margin-top: 50px;
            }

            .content {
                margin-top: 50px;
                margin-bottom: 40px;
                width: 30%;
                position: relative;
                color: white;

                p {
                    width: 75%;
                    margin: 5px 0;
                    opacity: 0.7;
                }

                input {
                    padding: 20px 55px;
                    width: 100%;
                    margin: 30px 0 0 0;
                    border-radius: 10px;
                    outline: none;
                }

                button {
                    position: absolute;
                    padding: 15px 25px;
                    right: 2%;
                    bottom: 10%;
                }
            }
        }
    }

    .serviceBody {
        background: #F7F8FDFF;
        padding-top: 20px;

        .service {
            width: 100%;
            border-bottom: 2px solid rgb(198, 198, 198);
            padding: 20px 0;
            background: #F7F8FDFF;

            h5 {
                padding: 0 0 10px 0;
                font-size: 18px !important;
            }

            span {
                opacity: 0.6;
            }
        }
    }

    .productsBody {
        background: #F7F8FDFF;

        .products {
            padding: 6% 0;

            .row {
                ul {
                    >a {
                        font-weight: 400;
                        opacity: 1 !important;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        opacity: 0.6;
                    }

                    li {
                        text-decoration: none;
                        list-style: none;
                        margin-top: 8px;
                        font-size: 13px;
                    }
                }
            }

        }
    }

    .contactBody {
        .contact {
            border-bottom: 1px solid grey;

            .contactNumb {
                padding: 0;
                flex-wrap: wrap;
            }
        }
    }

    .copyrightBody {
        .copyright {}
    }
}


// My-accaunt page

.accaunt {
  margin-top: 20px;

  h5 {
    margin-top: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
  }

  input {
    outline: none !important;
    background-color: #F3F4F7FF;
    border: none;

    &:focus {
      outline: none !important;
      outline: none;

    }
  }
}

// My-accaunt end


//Contact page
.contact {
  .head {
    margin-top: 5%;
    text-align: center;
  }

  .address {
    margin-left: 5%;

    .content {
      .street {
        padding: 35px 35px;
        background: #F3F3F6FF;
        text-align: center;

        i {
          font-size: 40px;
          color: #233A95FF;
        }

        h6 {
          margin-top: 25px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

.sendUs {
  margin: 5% 0 8%;

  .form {
    border-radius: 15px;

    width: 90%;
    margin-left: 6%;
    box-shadow: rgba(0, 0, 0, 0.56) 20px 30px 120px 4px;
    padding: 3% 14%;

    .head {
      text-align: center;
      border-bottom: 1px solid;
      padding: 5% 0;
    }

    form {
      padding: 3% 0 5%;

      input {
        background: #F3F4F7FF;
        border: none;
        outline: none !important;
        outline-style: none !important;
        height: 35px;
        padding: 0 20px;
        border-radius: 3px;
        margin: 5px 0;
      }

      textarea {
        background: #F3F4F7FF;
        border: none;
        outline: none !important;
        outline-style: none !important;
        padding: 10px 20px;
        margin: 5px 0;
        width: 100%;
        height: 100%;
      }

      button {
        background-color: #233A95FF;
        padding: 10px 30px !important;
      }

      .accaunt {
        div {
          width: 48%;
        }

        .right {
          margin-left: 4%;
        }

      }
    }

  }
}

// blog page
.blog {
  .section {
    margin-top: 5%;
    margin-left: 5%;


    .article {
      img {
        margin-bottom: 25px;
      }

      h1 {
        margin-top: 20px;
        width: 100%;
        font-size: 38px;
      }

      button {
        margin-top: 20px;
        padding: 5px 25px;
        background: #233A95FF;
      }
    }

    img {
      border-radius: 10px;
    }

    .numbs {
      text-align: center;
      cursor: pointer;
      margin: 10% 0 15%;

      .active {
        background: #2BBEF9FF;
        color: white;

      }

      .numb {
        margin: 0 7px;
        padding: 5px 12px;
        border-radius: 50%;

        &:hover {
          background: rgb(230, 230, 230);
        }
      }

      i {
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 50%;

        &:hover {
          background: rgb(230, 230, 230);
        }
      }
    }
  }

  .sideBar {
    margin: 5% 0;

    img {
      width: 90%;
    }

    input {
      outline: none;
    }

    .content {
      border: 1px solid rgb(223, 223, 223);
      padding: 20px 20px;
      width: 90%;

      div {
        position: relative;
      }

      p {
        position: absolute;
        color: white;
        font-size: 12px;
        top: 3%;
        left: 22%;
        border: 2px solid white;
        background: #2BBEF9FF;
        border-radius: 50%;
        padding: 2px 6px;
      }

      img {
        border-radius: 50%;
        width: 30%;
        height: 30%;
        margin-right: 5%;
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .sosialMedia {
      flex-direction: column;

      button {
        width: 90%;
        padding: 7px 60px 7px 0;
        margin: 2px 0;
        color: white;
        border: none;
        border-radius: 5px;
      }

      .fb {
        background: #3B5998FF;
      }

      .tw {
        background: #1DA1F2FF;
      }

      .pn {
        background: #E60023FF;
      }

      .in {
        background: #0077B5FF;
      }

      .rd {
        background: #FF4500FF;
      }
    }

    input {
      width: 90%;
      height: 40px;
      padding: 0 20px;
      border: none;
      border-radius: 5px;
      background: #F3F4F7FF;
    }

    h6 {
      margin: 15% 0 5%;
    }

    .tags {
      width: 90%;
      flex-wrap: wrap;

      button {
        margin-left: 10px;
        margin-top: 10px;
        padding: 2px 10px;
        border: none;
        background: white;
        border: 1px solid rgb(231, 230, 230);
      }
    }
  }
}

//shop page

.shop {
  .shopPage {
    margin-left: 5%;

    .leftSide {
      h6 {
        margin: 50px 0 5px;
      }

      .prodCategories {
        overflow: auto;
        max-height: 260px;

        ul {
          font-size: 13px;
          margin-top: -10px;
          position: relative;
          font-weight: 500;
          transition: all 1s ease-in;

          input {
            position: absolute;
            left: 5%;
            top: 4px;
          }

          span {
            cursor: pointer;
            position: absolute;
            right: 8%;
            font-size: 15px;
            font-weight: 500;
            outline: none;
            background: none;
          }

          .li {
            list-style: none;
            display: none;
            margin-left: 20px;

            li {
              position: relative;
              transition: all 1s ease-in;
              margin-top: 7.5px;

              input {
                position: absolute;
                left: -10%;
                top: 25%;
              }
            }
          }
        }
      }

      .prodFilter {
        position: relative;

        p {
          margin-top: 15px;
        }

        strong {
          position: absolute;
          font-weight: 600;
          font-size: 14px;
          right: 0;
          top: 40px;
        }

        #slider {
          width: 80%;
          background: red;
        }

      }

      .prodStatus {
        p {
          margin-bottom: -3px;
          cursor: pointer;

          &:hover {
            input {
              background-color: rgb(233, 228, 228);
            }
          }

          input {
            margin-right: 10px;
            cursor: pointer;
            background: #000;
          }
        }
      }

      .brands {
        position: relative;

        p {
          margin-bottom: -1px;
        }

        input {
          margin-right: 8px;
        }

        span {
          position: absolute;
          right: 0%;
        }
      }
    }

    .rightSide {
      margin: 50px 0 0px;
      margin-left: -5%;

      .sortList {
        padding: 10px 20px;
        background: #F7F8FDFF;
        margin: 15px 0;
      }

      .product {
        border: 0.5px solid rgb(214, 214, 214);

        .content {
          padding: 15px 25px;
          cursor: pointer;
          position: relative;
          transition-duration: 0.5s;

          &:hover {
            position: absolute;
            padding: 15px 25px;
            width: 12.5%;
            z-index: 5;
            background: white;
            border: 1px solid grey;
            box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 11px;

            .prodCount {
              display: none;
              position: relative;
              text-align: center;
              padding-bottom: 12px;
              left: 15px;

              :last-child {
                right: 10%;
                position: absolute;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #FFCD00FF;
                border: none;
              }

              :first-child {
                position: absolute;
                left: 10%;
                font-size: 20px;
                border-radius: 50%;
                border: 1px solid;
                padding: 0px 6px;
                background: #C8C8D7FF;
                border: none;
              }

            }

            .minimize {
              right: 8.5%;
              visibility: visible;
              transition-duration: 0.4s;

            }

            .heart {
              right: 8%;
              visibility: visible;
              transition-duration: 0.7s;

            }

            button {
              display: block;
            }
          }

          .description {
            font-size: 12px;
          }

          i {
            position: absolute;
            visibility: hidden;
            top: 12%;
            background: white;
            border-radius: 50%;
            padding: 10px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 2px, rgba(17, 17, 26, 0.1) 0px 16px 4px;
          }

          .discount {
            position: absolute;
            top: 5%;
            font-size: 11px;
            font-weight: 500;
            padding: 5px 15px;
            color: white;
            border-radius: 5px;
            background-color: #2BBEF9FF;
          }

          .offer {
            position: absolute;
            top: 15%;
            font-size: 10px;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 5px;
            color: white;
            background-color: #71778EFF;
          }

          .type {
            position: absolute;
            top: 15%;
            font-size: 10px;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 15px;
            color: #198E4DFF;
            background-color: #E5F8EDFF;
          }

          .minimize {
            top: 5%;
            right: 5%;
          }

          .heart {
            top: 20%;
            right: 2%;
          }

          p {
            width: 90%;
            margin: 0 !important;

            img {
              width: 60%;
            }
          }

          strong {
            font-size: 10px;
            font-weight: 700;
            color: #2FC573FF;
          }

          img {
            width: 100%;
          }

          button {
            display: none;
            padding: 5px 30px;
            font-size: 12px;
            margin: 5px 0px;
            border-radius: 10px;
          }
          .prodCount {
            display: none;
            position: relative;
            text-align: center;
            padding-bottom: 12px;
            left: 15px;

            :last-child {
              right: 10%;
              position: absolute;
              font-size: 20px;
              border-radius: 50%;
              border: 1px solid;
              padding: 0px 6px;
              background: #FFCD00FF;
              border: none;
            }

            :first-child {
              position: absolute;
              left: 10%;
              font-size: 20px;
              border-radius: 50%;
              border: 1px solid;
              padding: 0px 6px;
              background: #C8C8D7FF;
              border: none;
            }

          }
        }
      }
    }
  }


}

//product

.productBody {
  position: relative;
  background-color: #F7F8FDFF;
  margin-bottom: 50px;

  h5 {
    margin: 0 -4%;
    background: #F7F8FDFF;
    padding: 70px 50px 30px;
  }

  .header {
    margin-left: 13%;
    padding: 30px 0;
    font-size: 14px;
  }

  .firstSection {
    margin: 0 13%;
    background-color: white;
    padding: 40px;

    .leftPart {
      position: relative;

      .carousel-indicators {
        .btns {
          position: absolute;
          bottom: 220px;
          left: 42px;

          img {
            background: transparent;
          }
        }
      }

      .carousel-inner {
        width: 120%;

        img {
          width: 140%;
          margin: -30px;
          padding: 20px 50px;
        }
      }
    }

    .middlePart {
      margin-left: 12%;
      padding: 20px;
      width: 370px;
      position: relative;

      .price {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
        color: #D51243FF;
      }

      strong {
        display: block;
        font-size: 12px;
        font-weight: 600;
        width: max-content;
        padding: 5px 15px;
        border-radius: 15px;
        color: #198E4DFF;
        background-color: #E5F8EDFF;
        margin-bottom: 14px;
      }

      .minBtn,
      .plusBtn {
        cursor: pointer;
        padding: 10px 16px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        border-radius: 50%;
      }

      .count {
        margin: 0 10px;
        width: 40px;

      }

      #productBtn {
        padding: 10px 45px;
        margin-left: 18px;
        background: #233A95FF;
        color: white;
        border: none;
        border-radius: 20px;

      }

      input {
        margin: 20px 48px;
        border: none;
        outline: none;
      }

      #errMes {
        left: 55px;
        top: 47%;
        color: red;
        font-weight: bold;
        position: absolute;
      }

      .reset {
        padding: 10px 45px;
        margin-left: 25px;
        background: red;
        color: white;
        border: none;
        border-radius: 20px;
      }


      .desc {
        font-size: 14px;
      }
    }

    .rightPart {
      width: 250px;
      margin-left: 20px;
      margin-top: 25px;

      p {
        padding: 8px 25px;
        background: #FFEEF2FF;
        color: #BE143CFF;
        font-size: 13px;
      }

      .content {
        background: #F7F8FDFF;
        font-size: 12px;

        span {
          display: block;
          padding: 10px 25px;

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .tabSection {
    margin: 4% 13%;
    background-color: white;
    padding: 40px 15px;

    .firstTabContent {
      p {}
    }

    .secondTabContent {
      :nth-child(2) {
        margin-left: 4%;
      }

      p {
        margin-top: 20px;
        border: 1px solid #DEE2E6FF;
        width: 98%;
        padding: 7px 10px;
      }
    }

    .thirdTabContent {


      h6 {
        font-weight: 600;
        margin-top: 10px;
      }

      .adminContent {
        .adminImg {
          img {
            border-radius: 50%;
          }
        }

        .adminComment {
          margin-left: 10px;

          // flex-direction: column;
          .bxs-star.gold {
            color: #FFCD00FF;
          }

          .bxs-star.grey {
            color: #D6D6E5FF;
          }
        }
      }

      .secondHead {
        border-bottom: 1px solid;
        padding-bottom: 20px;
      }

      .emailContent {
        margin-top: 30px;

        #rating {
          .active {
            i {
              text-shadow: rgba(0, 0, 0, 0.0) 0px;
            }
          }

          i {
            cursor: pointer;
          }

          .bxs-star.gold {
            color: #FFCD00FF;
          }

          .bxs-star.grey {
            color: #D6D6E5FF;
          }
        }

        .line {
          margin: 0 15px;
          margin-bottom: 5px;
        }


      }

      form {
        label {
          width: 100%;
          margin-bottom: 10px;
        }

        textarea {
          background: #F3F4F7FF;
          border: none;
          outline: none;
          width: 100%;
          min-height: 200px;
          padding: 20px;
        }

        .inp {
          background: #F3F4F7FF;
          width: 100%;
          margin-bottom: 10px;
          padding: 5px 10px;
          outline: none;
          border: none;
        }

        .check {}
      }
    }
  }
}



.lastSection {
  margin: 4% 11%;

  .product {
    border: 0.5px solid rgb(214, 214, 214);
    background-color: white;

    .content {
      padding: 15px 25px;
      cursor: pointer;
      position: relative;
      transition-duration: 0.5s;

      &:hover {
        position: absolute;
        padding: 15px 25px;
        width: 18.7%;
        z-index: 5;
        background: white;
        border: 1px solid grey;
        box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 11px;

        .discount {
          top: 4.2%;
          padding: 5px 15px;
        }

        .offer {
          top: 13%;
          padding: 5px 15px;
        }

        .type {
          top: 13%;
          padding: 5px 15px;
        }

        .minimize {
          right: 8.5%;
          visibility: visible;
          transition-duration: 0.4s;

        }

        .heart {
          right: 8%;
          visibility: visible;
          transition-duration: 0.7s;

        }

        button {
          display: block;
        }

        .prodCount {
          display: none;
          position: relative;
          text-align: center;
          top: 15px;
          padding-bottom: 24px;


          :last-child {
            right: 10%;
            position: absolute;
            font-size: 20px;
            border-radius: 50%;
            border: 1px solid;
            padding: 0px 6px;
            background: #FFCD00FF;
            border: none;
          }

          :first-child {
            position: absolute;
            left: 10%;
            font-size: 20px;
            border-radius: 50%;
            border: 1px solid;
            padding: 0px 6px;
            background: #C8C8D7FF;
            border: none;
          }

        }
      }

      .description {
        font-size: 12px;
      }

      i {
        position: absolute;
        visibility: hidden;
        top: 12%;
        background: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 2px, rgba(17, 17, 26, 0.1) 0px 16px 4px;
      }

      .discount {
        position: absolute;
        top: 5%;
        font-size: 11px;
        font-weight: 500;
        padding: 5px 15px;
        color: white;
        border-radius: 5px;
        background-color: #2BBEF9FF;
      }

      .offer {
        position: absolute;
        top: 15%;
        font-size: 10px;
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 5px;
        color: white;
        background-color: #71778EFF;
      }

      .type {
        position: absolute;
        top: 15%;
        font-size: 10px;
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 15px;
        color: #198E4DFF;
        background-color: #E5F8EDFF;
      }

      .minimize {
        top: 5%;
        right: 5%;

        &:hover {
          background-color: #233A95FF;
          color: white;
        }
      }


      .heart {
        top: 15%;
        right: 2%;

        &:hover {
          background-color: #233A95FF;
          color: white;
        }
      }

      p {
        width: 90%;
        margin: 0 !important;

        img {
          width: 60%;
        }
      }

      strong {
        font-size: 10px;
        font-weight: 700;
        color: #2FC573FF;
      }

      img {
        width: 100%;
      }

      button {
        display: none;
        padding: 5px 70px;
        font-size: 12px;
        margin: 15px 0px;
        border-radius: 20px;
      }

      button,
      .prodCount {
        display: none;
        padding: 5px 70px;
        margin: 20px 10px 3px;
        border-radius: 10px;
      }

      .prodCount {
        display: none;
        position: relative;
        text-align: center;

        :last-child {
          right: 10%;
          position: absolute;
          font-size: 20px;
          border-radius: 50%;
          border: 1px solid;
          padding: 0px 6px;
          background: #FFCD00FF;
          border: none;
        }

        :first-child {
          position: absolute;
          left: 10%;
          font-size: 20px;
          border-radius: 50%;
          border: 1px solid;
          padding: 0px 6px;
          background: #C8C8D7FF;
          border: none;
        }

      }
    }
  }
}



// responsive

@media (min-width: 768px) {
  .cntnr {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .cntnr {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .cntnr {
    width: 1170px;
  }
}

@media (max-width: 767px) {
  #featurecntnr .carousel-inner .carousel-item>div {
    display: none;
  }

  #featurecntnr .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

// hazir goturduyum scss -e cevirmedim

.cntnr {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

#featurecntnr .carousel-inner .carousel-item.active,
#featurecntnr .carousel-inner .carousel-item-next,
#featurecntnr .carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  #featurecntnr .carousel-inner .carousel-item-end.active,
  #featurecntnr .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  #featurecntnr .carousel-inner .carousel-item-start.active,
  #featurecntnr .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }

  #featurecntnr .card img {
    width: 100%;
  }

  #featurecntnr .carousel-item {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  #featurecntnr .card img {
    width: 100%;
  }
}

#featurecntnr .carousel-inner .carousel-item-end,
#featurecntnr .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#featurecntnr .card {
  border: 0;
}

#featurecntnr .card {
  position: relative;
}

#featurecntnr .card .card-img-overlays {
  position: absolute;
  // bottom: 15%;
  // left: 10%;
  color: #fff;
  font-weight: bolder;
}

#featurecntnr a {
  text-decoration: none;
}

#featurecntnr .indicator {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 50%;
  position: absolute;
  font-size: 20px;
  top: 45%;
  padding: 3px 6px 3px 6px;
}

#featurecntnr .indicator:hover {
  transition: 200ms;
}

#featurecntnr .indicator:hover {
  color: white;
  transition: 200ms;
}

#featurecntnr .indicator {
  color: lightgray;
}

#featurecntnr .float-end {
  padding-top: 10px;
}